<html>
<head>
	<title>Taking Care of Your Child's Teeth</title>
</head>
<body>
	<header>
		<% if !user_signed_in? %>
		<div class="nav">
			<ul>
				<li><%= link_to 'Home', dental_index_path %></li>
				<li><%= link_to 'Sign Up', new_user_registration_path %></li>
				<li><%= link_to "Sign In", new_user_session_path %></li>
			</ul>
		<% end %>
		</div>
		<% if user_signed_in? and current_user.profile and current_user.profile.role == 'p_parent' %>
		<div class="nav">
			<ul>
				<li><%= link_to 'Home', dental_index_path %></li>
				<li><%= link_to "Profile", profile_path(@profile) %></li>
				<li><%= link_to "My Children", profile_children_path(@profile) %></li>
		</div>
		<% end %>
		<% if user_signed_in? and current_user.profile and current_user.profile.role == 'staff' %>
		<div class="nav">
			<ul>
				<li><%= link_to 'Home', dental_index_path %></li>
				<li><%= link_to "Profile", profile_path(@profile) %></li>

			</ul>
		</div>
		<% end %>
	</header>
<h1>Taking Care of your Child's Teeth: An Introduction</h1>

<% if !user_signed_in? %>
	<p>Want to manage your child's dental health? <%= link_to 'Sign up here!', new_user_registration_path %></p>
	<p>Coming back to add more data? <%= link_to "Please sign in!", new_user_session_path %></p>
<% else %>

<% if !current_user.profile %>
	<p><%= link_to "Create Your Profile", new_profile_path %></p>
<% else current_user.profile %>
	<p><%= link_to "View Your Profile", profile_path(@profile) %></p>
<% end %>
	<% if current_user.profile and current_user.profile.role == 'p_parent' %>
		<p><%= link_to "My Children", profile_children_path(@profile) %></p>
	<% end %>
<% end %>

<%= link_to "Take the Tutorial!", babyteeth_path %><br><br>
<header>
<div class="user-info">
	<ul>
		<% if user_signed_in? and @user.profile %>
			<li><%= @user.profile.name %></li>
			<li><%= @user.email %></li>
			<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
		<% end %>
	</ul>
</div>
</header>
</body>
</html>
