<%= render 'menubar' %>
<h2>Cavities</h2>
<h3>How do they form?</h3>
<h4>Diet</h4>
<p>Sugars throughout the day can also cause cavities to form, so limit your child’s sugar intake to meal times and avoid sugars at snack times. Candy, sweets, and desserts are one form of sugar, but juice, soda and other sweet drinks are another way sugar is introduced into the child’s diet. Juice consumption should be limited to 4-6 ounces per day and only with meals. Drinking water and eating healthy snacks such as fruits and vegetables can help prevent cavities.</p>
<br>
<br>
<%= image_tag "cocacola.JPG" %>
<%= image_tag "orange_juice.JPG" %>
<br><br><br><br>

<header>
<div class="tut-nav">
	<ul>
		<li><%= link_to "Cavity Formation: Part 1", cav_form_1_path %></li>
		<li><%= link_to "Cavity Formation: Part 3", cav_form_3_path %><li>
	</ul>
</div>
</header>